@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="row" style="width:99%">
            <div class="col-md-1"><img src="../Images/sailboat.jpg" style="height:3em" href="/Home"/></div>
            <div class="col-md-11">
                <div class="top-row px-4 container" style="background-color: rgba(0,0,0,0);
                border-bottom: none;
                font-weight: bold;
                padding:0px !important;
                    ">
                    <div class="vertical-navbar">
                        <ul>
                            <li><a>Home</a></li>
                            <li><a href="/Login">Login</a></li>
                            <li><a>Register</a></li>
                            <li><a>About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="content px-4" style="padding:0px !important">
            @Body
        </div>
    </div>
</div>
