@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.vertical-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.vertical-navbar li {
    float: left;
}

    .vertical-navbar li a {
        display: block;
        color: darkslategray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
.vertical-navbar li a:hover {
    background-color: rgba(0,0,0,0.5);
    color:white
}

.index-wrapper {
    background-image: url('../Images/Home_Wallpaper.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height: 50vh
}

.login-wrapper {
    background-image: url('../Images/Home_Wallpaper2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 94vh
}

.fa {
    font-size: 52px;
    color: grey;
    margin-top:10%
}

.card {
    padding:10px;
    width:20em;
    height:15em

}
.index-button {
    color:white;
    border-radius:25px;
    background-color:black;
    padding:10px;
}

    .index-button:hover {
        background-color: purple
    }

.form-container {
    padding:25px;
    margin-top:25vh;
    color: whitesmoke;
    background-color:rgba(0,0,0,0.5)
}
    .form-container .validation-errors {
    
        padding:0px;
    }
    .validation-message {
        list-style: none;
        color: skyblue;
    }
#username, #password {
    border-radius: 10px;
}
    