@page "/"

    <div class="container">
        <div class="jumbotron" style="background-color:rgba(0,0,0,0.5); color: white">
            <h2 class="text-center">Welcome to Catamaran !</h2>
            <br/>
            <p class="text-center">The one stop tool to plan and analyse your spending patterns.</p>

        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>View your spending via graphs and plots.</h4>
                <i class="fa fa-bar-chart"></i>
            </div>
            <div class="col-md-4">
                <h4>Analyse you most common source of spending.</h4>
                <i class="fa fa-calculator"></i>
            </div>
            <div class="col-md-4">
                <h4>Store and retrieve transactions and generate reports.</h4>
                <i class="fa fa-file"></i>
            </div>
        </div>
    </div>