@page "/"

    <div class="index-wrapper">
            <div class="jumbotron" style="background-color:rgba(0,0,0,0.5); color: white;height:50vh;">
                <h1 class="text-center" style="margin-top: 5%">Welcome to Catamaran !</h1>
                <br />
                <p class="text-center">The one stop tool to plan and analyse your spending patterns.</p>
                <br />
                <div class="text-center"><button class="index-button">Lets get started !</button></div>
            </div>
    </div>
    <div class="jumbotron">
        <div class="row" style="width:99%; position:absolute; top: 69%">
            <div class="col-md-2"></div>

            <div class="col-md-2">
                <div class="card">
                    <i class="fa fa-bar-chart text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Visualize your spending via graphs and plots.</h5>
                        <p>Choose how to view you data and metrices.</p>
                        <br/>
                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card">
                    <i class="fa fa-calculator text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Analyse you most common source of spending.</h5>
                        <p>Tabulate and frequency and amount to each vendor.</p>
                        <br/>
                    </div>
                </div>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="card">
                    <i class="fa fa-file text-center"></i>
                    <div class="card-body">
                        <h5 class="card-title">Store, retrieve transactions, generate reports.</h5>
                        <p>Generate custom reports into formats of your choice.</p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

    <div class="row" style="width:99%;position:absolute">
        
    </div>
